* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    margin: 2.5% auto 0;
    text-align: center;
}

.buttons {
    display: flex;
    margin: 40px auto;
    justify-content: center;
    align-items:baseline;
}

.buttons p {
    margin: 0 25px;
}

.deck {
    margin: 4% auto 0;
    text-align: center;
    padding: 0 25px;
    display: flex;
    justify-content:center;
}

.card {
    margin: 0 3%;
    width: 250px;
    max-height: 347.5px;
    border: 0;
    border: 0px !important;
    outline: 0 !important;
}

.card img {
    width:250px;
    height: 347.5px !important;
}

.score {
    color: red;
    font-weight: bold;
}

.howto {
    margin: 50px auto 0;
    text-align: center;
}

.restart {
    margin: 50px auto;
    text-align: center;
}

.restart button {
    margin: 0 20px;
}

.invisible {
    display: none;
}

.startAgain {
    margin: 50px auto;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.history {
    margin: 50px auto;
    text-align: center;
}

.history h5 {
    margin-bottom: 3%;
}

.displayNone {
    display: none;
}

.red {
    color: red;
}

@media screen and (max-width: 650px) {
    .card {
        margin: 0 3%;
        width: 175px;
        max-height: 241px;
        border: 0;
        border: 0px !important;
        outline: 0 !important;
    }
    
    .card img {
        width:175px;
        height: 241px !important;
    }
  }

  @media screen and (max-width: 350px) {
    .card {
        margin: 0 3%;
        width: 125px;
        max-height: 172px;
        border: 0;
        border: 0px !important;
        outline: 0 !important;
    }
    
    .card img {
        width:125px;
        height: 172px !important;
    }
  }

  .underline {
    text-decoration: underline;
  }


  .historyResult {
    background-color: rgb(233, 233, 233);
    width: 325px;
    margin: 10px auto;
    padding: 10px 20px;
    color: rgb(50, 50, 50);
    border-radius: 10px;
  }

  .fontChange {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
  }

  .startAgain button {
    margin: 0 20px;
  }